<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h5 class="alert-heading">Please fix the following errors:</h5>
    <ul class="mb-0">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
